* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: rgb(226, 239, 35);
    border: 1px solid rgb(226, 239, 35);
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.board div {
    background-color: white;
}

.board div:hover {
    background-color: rgb(209, 204, 204);
}

.title {
    color: red;
    font-weight: 700;
    font-size: 1.5rem;
}

.button:hover {
    background-color: rgb(32, 42, 44);
}

.cell {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    font-weight: 700;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 14rem;
    height: 14rem;
}

.reset {
    font-size: 0.5rem;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
}

.reset:hover {
    background-color: rgb(7, 94, 156);
}