* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.board div:hover {
    background-color: rgb(209, 204, 204);
}

.title {
    font-weight: 700;
}

.button:hover {
    background-color: rgb(32, 42, 44);
}