* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: rgb(226, 239, 35);
    border: 1px solid rgb(226, 239, 35);
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.board div {
    background-color: white;
}

.board div:hover {
    background-color: rgb(209, 204, 204);
}

.title {
    color: red;
    font-weight: 700;
    font-size: 1.5rem;
}

.button:hover {
    background-color: rgb(32, 42, 44);
}